* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-behavior: auto;
}

body {
     background-image: url("pixels/megaBG.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}
/* FIRST LAYER */
#floor {
     background-repeat: no-repeat;
     position: absolute;
     left: 50%;
     margin-left: -300px;
     z-index: 0;
}

#layer1 {
     z-index: 1;
     position: absolute;
     left: 50%;
     margin-left: -300px;
     display: none;
}

/* SECOND LAYER */
#layer2 {
     z-index: 2;
     position: absolute;
     left: 50%;
     margin-left: -300px;
     display: none;
}

/* THIRD LAYER */
#layer3 {
     z-index: 3;
     position: relative;
     left: 50%;
     margin-left: -300px;
     display: none;
}

#startScreen1 {
     background: pink;
     display: none;
     z-index: 1;
     position: absolute;
     left: 50%;
     margin-left: -300px;
}

#startScreen2 {
     display: none;
     z-index: 2;
     position: absolute;
     left: 50%;
     margin-left: -300px;
}

#mgLayer1 {
     z-index: 1;
     position: absolute;
     left: 50%;
     margin-left: -300px;
     display: none;
     background: blue;
}

/* SECOND LAYER */
#mgLayer2 {
     z-index: 2;
     position: absolute;
     left: 50%;
     margin-left: -300px;
     display: none;
}

/* THIRD LAYER */
#mgLayer3 {
     z-index: 3;
     position: relative;
     left: 50%;
     margin-left: -300px;
     display: none;
}

#startBtn {
	background:linear-gradient(to bottom, #44c767 5%, #a0bd2a 100%);
	background-color:#44c767;
	border-radius:7px;
	display:none;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 56px;
	text-decoration:none;
     position: absolute;
     left: 50%;
     margin-left: -80px;
     top: 350px;
     z-index:3;
}
#startBtn:hover {
	background:linear-gradient(to bottom, #a0bd2a 5%, #44c767 100%);
	background-color:#a0bd2a;
}
#startBtn:active {
	position:absolute;
	top:355px;
}

#textBox {
     word-wrap: normal;
     position: fixed;
     bottom: 0;
     left: 50%;
     margin-left: -300px;
     border: solid grey 2px;
     display: none;
     z-index:3;
     color: white;
     background: black;
     width: 450px;
     height: 200px;
}

#faceContainer {
     display: none;
     width: 200px;
     height: 200px;
     background: #232455 ;
     position: fixed;
     bottom:0;
     left: 50%;
     margin-left: 150px;
     z-index: 3;
}

#inventoryContainer {
     display: none;
     width: 150px;
     height: 430px;
     background: #0B1E25;
     position: fixed;
     top: 0;
     left: 50%;
     margin-left: 300px;
     z-index: 3;
}

#inventory {
     display: grid;
     grid-template-columns: 60px 60px;
     grid-template-rows: 60px 60px 60px 60px 60px auto;
}

.item {
     background: #525252 ;
     background-repeat: no-repeat;
     background-position: center;
     border: solid black 1px;
     margin-left: 2px;
     margin-top: 2px;
}

.item:hover {
     border: 2px solid black;
}

.item:active {
     border: 4px solid black;
}

.selected {
     background: #898D8F;
     background-repeat: no-repeat;
     background-position: center;
}
